[submodule "habitats_sedimentaires_intertidaux"]
	path = habitats_sedimentaires_intertidaux
	url = git@github.com:RNF-SI/habitats_sedimentaires_intertidaux.git
[submodule "syrph_the_net"]
	path = syrph_the_net
	url = git@github.com:RNF-SI/syrph_the_net.git
[submodule "roselieres"]
	path = roselieres
	url = git@github.com:RNF-SI/roselieres.git
[submodule "limicoles"]
	path = limicoles
	url = git@github.com:RNF-SI/limicoles.git
[submodule "stoc_rnf"]
	path = stoc_rnf
	url = git@github.com:RNF-SI/stoc_rnf.git
[submodule "zones_alim_limicoles"]
	path = zones_alim_limicoles
	url = git@github.com:RNF-SI/zones_alim_limicoles.git
